<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar class="pesquisa"></ion-searchbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row> class:"barra"</ion-row>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button class="botao">apartamentos </ion-button>
  <ion-button class="botao">casas</ion-button>
  <ion-button class="botao">casas/aluguel</ion-button>




</ion-content>
